---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Ministerio de Tecnologías de la Información y Comunicación | MITIC">
	<main>

		<img src="mitic-02.webp" alt="mitic" class="">
	</main>
</Layout>

