<footer class="bg-white rounded-lg shadow m-4">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
      <div class="flex flex-col items-center sm:flex-row sm:items-center sm:justify-between">
        <a href="https://mitic.gov.py/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
          <img src="MITIC.webp" class="h-20" alt="MITIC Logo" />
        </a>
        <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0">
          <li><a href="#" class="hover:underline me-4 md:me-6">Facebook</a></li>
          <li><a href="#" class="hover:underline me-4 md:me-6">Twitter</a></li>
          <li><a href="#" class="hover:underline me-4 md:me-6">Instagram</a></li>
          <li><a href="#" class="hover:underline me-4 md:me-6">Linkedin</a></li>
          <li><a href="#" class="hover:underline me-4 md:me-6">Youtube</a></li>
        </ul>
      </div>
      <hr class="my-6 border-gray-500 sm:mx-auto lg:my-8" />
      <span class="block text-sm text-gray-500 sm:text-center">
        <a href="https://github.com/authmati/mitic-paraguay" class="hover:underline">Mati</a> - Esta página es una recreación de la web oficial del <strong>MITIC</strong> Paraguay, realizada con fines educativos. No representa la información oficial del gobierno.
      </span>
    </div>
  </footer>
  