---
const navItems = [

  { 
    title: 'Inicio', 
  label: 'inicio',
  url: "/#inicio",
},

  { 
    title: 'Institucional',
    label: 'institucional',
    url: "/#institucional",
},

  { 
    title: 'Viceministerios', 
    label: 'viceministerios',
  url: "/#viceministerios",
},

  { 
    title: 'Transparencia',
    label: 'transparencia',
    url: "/#transparencia",
},

  { 
    title: 'Noticias', 
    label: 'noticias',
    url: "/#noticias",
},

  { 
    title: 'Recursos', 
    label: 'recursos',
    url: "/#recursos",
},

  { 
    title: 'Transformación Digital', 
    label: 'transparencia-digital',
    url: "/#transparencia-digital",
},

  { 
    title: 'Contacto',
    label: 'contacto',
    url: "/#contacto", 
},
  
]
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
  <nav
    class="text-white flex px-3 text-sm font-medium rounded-full justify-center items-center"
  >
    {
      navItems.map((link) => (
        <a
         class="relative block px-4 py-2 transition hover:text-red-500"
        aria-label={link.label}
          href={link.url}
        >
            {link.title}
        </a>
      ))
    }
  </nav>
</header>
